.text {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
}

.tutiTitle {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 60pt;
    color: #000077;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
}

h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20pt;
    color: #000077;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
}

h2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16pt;
    color: #000077;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    margin-top: 50px;
    margin-bottom: 10px;
}

h2.news {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: #000077;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    margin-top: 50px;
    margin-bottom: 0;
}

h3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: #000077;
    font-style: italic;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    margin-bottom: 5px;
}

.note {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
}

.caption {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-style: italic;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
}

.blue {
    color: #000077;
    background-color: #000077;
}

tr.height80 {
    height: 80px;
}

tr.height2 {
    height: 2px;
}

tr.height30 {
    height: 30px;
}

tr.height10 {
    height: 10px;
}

tr.height60 {
    height: 60px;
}

td.verticalLine {
    background-image: url("../pics/black_vert_line.gif");
}

td.horizontalLine {
    background-image: url("../pics/black_hor_line.gif");
}

/* for unordered lists, add some space around each item: <ul class="unstyled extra-space">... */
ul.unstyled {
    display: block
}

ul.extra-space li {
    margin: .3em 0
}

ol.unstyled {
    display: block
}

ol.extra-space li {
    margin: .5em 0
}

table.showEmptyCells {
    empty-cells: show;
    margin-top: 0;
}

td.menu {
    text-align: left;
}

td.subMenu {
    text-align: left;
    text-indent: 10pt;
}

td.subsubMenu {
    text-align: left;
    text-indent: 20pt;
}

/* The style of the page-text */
td.bodyText {
    font-size: 10pt;
}

/* Text that should be small */
.smallBodyText {
    font-size: 9pt;
}

table td {
    font-size: 10pt;
}

.bodyText {
    font-size: 10pt;
}

.subsubBody {
    margin-left: 35pt;
}

.codeTab {
    margin-left: 15pt;
}

.htabbed {
    margin-left: 17pt
}

.tabbed {
    margin-left: 35pt
}

.dtabbed {
    margin-left: 70pt
}

.red {
    color: rgb(160, 0, 0);
}

.CCom {
    color: rgb(100, 100, 100);
}

.CVar {
    color: rgb(0, 160, 0);
}

.CKey {
    color: rgb(0, 0, 160);
}

.question {
    font-size: 10pt;
    font-weight: bold;
}

.answer {
    font-size: 10pt;
}

.messageText {
    font-size: 10pt;
}

.ethLogo {
    position: absolute;
    bottom: 20pt;
    left: auto;
}

.code {
    font-family: monospace;
}

/***********************************************************************
 * LINKS 
 ***********************************************************************/
.nav_link {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000077;
    font-weight: normal;
    text-decoration: none;
    border-bottom: none;
    font-variant: small-caps;
}

.nav_link:hover {
    color: rgb(160, 0, 0);
}

.selected_nav_link {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: rgb(160, 0, 0);
    font-weight: normal;
    text-decoration: none;
    border-bottom: none;
}

.nav_link_subtitle {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: #000077;
    font-weight: normal;
    text-decoration: none;
    border-bottom: none;
    font-variant: small-caps;
}

.nav_link_subtitle:hover {
    color: rgb(160, 0, 0);
}

.nav_link_subsubtitle {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #000077;
    font-weight: bold;
    text-decoration: none;
    border-bottom: none;
    font-variant: small-caps;
}

.nav_link_subsubtitle:hover {
    color: rgb(160, 0, 0);
}

.nav_link_header {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: #000077;
    font-weight: normal;
    text-decoration: none;
    border-bottom: none;
}

.nav_link_header:hover {
    color: rgb(160, 0, 0);
}

.note_nav_link {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #000077;
    text-decoration: none;
    border-bottom: none;
}

.note_nav_link:hover {
    color: rgb(160, 0, 0);
}

.text_nav_link {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #000077;
    text-decoration: none;
    border-bottom: none;
}

.text_nav_link:hover {
    color: rgb(160, 0, 0);
}

.nav_link_tiny {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000077;
    font-size: 8pt;
    font-weight: normal;
    text-decoration: none;
    border-bottom: none;
}

.nav_link_tiny:hover {
    color: rgb(160, 0, 0);
}

/* MENU */
a.MenuLink {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #000077;
    font-weight: bold;
    text-decoration: none;
    border-bottom: none;
}

a.MenuLink:hover {
    color: rgb(160, 0, 0);
}

a.selected_MenuLink {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: rgb(160, 0, 0);
    font-weight: bold;
    text-decoration: none;
    border-bottom: none;
}

a.SubMenuLink {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #000077;
    font-weight: bold;
    text-decoration: none;
    border-bottom: none;
}

a.SubMenuLink:hover {
    color: rgb(160, 0, 0);
}

a.selected_SubMenuLink {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: rgb(160, 0, 0);
    font-weight: bold;
    text-decoration: none;
    border-bottom: none;
}

a.SubSubMenuLink {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #000077;
    font-weight: normal;
    text-decoration: none;
    border-bottom: none;
}

a.SubSubMenuLink:hover {
    color: rgb(160, 0, 0);
}
